<!DOCTYPE html>
<html lang="en">
<head> 
	 <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
	 <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
	 <link rel="manifest" href="/assets/site.webmanifest">
	 <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
	 <meta name="msapplication-TileColor" content="#b91d47">
	 <meta name="theme-color" content="#ffffff">
	{%- include head.html -%}
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>	
<script>	
$(window).scroll(function() {
    if ($(this).scrollTop()>300){
        $("#profile_pic").hide(1000);
     }
    else{
      $("#profile_pic").show(1000);
     }
 });
</script>	
</head>
<body>
	<main class="container">
		<section class="about">
			<a href="https://jamieqianhui.github.io">
			<img id="profile_pic" src="{{ "/assets/portfolio.png" | https://jamieqianhui.github.io }}" alt="{{ jamielqh@copyright }}">
			</a>
			<a style = "text-decoration:none" href="https://jamieqianhui.github.io"> <h2>{{ site.plainwhite.name }}</h2></a>
			<a class="tagline">{{ site.plainwhite.tagline }}</a>
			<p>
			<ul class="social">
				<a href="https://github.com/{{ site.plainwhite.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
				<a href="https://linkedin.com/{{ site.plainwhite.social_links.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a>
				<a href="https://twitter.com/{{ site.plainwhite.social_links.twitter }}"><li><i class="icon-twitter-squared"></i></li></a>
			</ul>
			<b></b>
			<a style = "text-decoration:none" href=" https://jamieqianhui.github.io"><h3><b>Blog</b></h3> 
			<a style = "text-decoration:none" href=" https://jamieqianhui.github.io/about"><h3><b>About</b></h3></a>
			<p>	
		</section>
		<section class="content">
			{{ content }}
		</section>
	</main>
	{%- if site.plainwhite.analytics_id -%}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
	{%- endif -%}
</body>
</html>
