<!DOCTYPE html>
<html lang="en">
<head> 
	  <link rel="visualanalytics" type="image/png"
            href="{{ "/assets/visualanalytics.png"  | absolute_url }}">
	{%- include head.html -%}
</head>
<body>
	<main class="container">
		<section class="about">
			<a href="https://jamieqianhui.github.io">
			<img src="{{ "/assets/portfolio.png" | https://jamieqianhui.github.io }}" alt="{{ jamielqh@copyright }}">
			</a>
			<a style = "text-decoration:none" href="https://jamieqianhui.github.io"> <h2>{{ site.plainwhite.name }}</h2></a>
			<a class="tagline">{{ site.plainwhite.tagline }}</a>
			<p> 🖤 </p>
			<a style = "text-decoration:none" href=" https://jamieqianhui.github.io"><h3><b>Blog</b></h3> 
			<a style = "text-decoration:none" href=" https://jamieqianhui.github.io/about"><h3><b>About</b></h3></a>
			<p>	
			<ul class="social">
				<a href="https://github.com/{{ site.plainwhite.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
				<a href="https://linkedin.com/{{ site.plainwhite.social_links.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a>
				<a href="https://twitter.com/{{ site.plainwhite.social_links.twitter }}"><li><i class="icon-twitter-squared"></i></li></a>
			</ul>
			
		</section>
		<section class="content">
			{{ content }}
		</section>
	</main>
	{%- if site.plainwhite.analytics_id -%}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
	{%- endif -%}
</body>
</html>
